<?php
// Copy this file to config.php on your server and set your private token.
// This overrides any token coming from environment variables.

// Example:
// $OVERRIDE_TOKEN = 'VOTRE_TRES_LONG_SECRET';

$OVERRIDE_TOKEN = '';

?>


